body {
  margin: 0;
  place-items: center;
  min-height: 100vh;
  font-weight: bold;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, rgb(153 194 231) 0%, rgb(158 231 228) 22%, rgb(158 231 222) 78%, rgb(127 175 237) 100%);
}

.container#inicio {
  background-color: rgb(223 253 255);
}

.container {
  background-color: rgb(255, 255, 255);
}


button.btn {
  font-weight: bold;
  margin-block: 1.5%;
}

h2, label {
  margin-top: 1.5%;
}